<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table组件测试</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../lib/hxvue.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../lib/hxvue.umd.js"></script>
    <script src="../node_modules/mockjs/dist/mock.js"></script>
    <style type="text/css">
        body {
            background-color: #e8eeec;
            font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        }
    </style>
</head>
<body>
<noscript>
    <strong
    >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
    >
</noscript>

<div id="app">
    <!-- 顶部按钮 -->
    <div>
        <el-button
                type="success"
                icon="el-icon-circle-plus-outline"
                @click="handleAdd"
        >
            增加
        </el-button>
        <el-button type="warning" icon="el-icon-edit" @click="handleEdit">
            编辑
        </el-button>
        <el-button type="danger" icon="el-icon-delete" @click="handleDel">
            删除
        </el-button>
        <div style="float: right;">
            <el-input v-model="searchKey" placeholder="请输入性别" style="width: 200px;"></el-input>
            <el-button type="primary" icon="el-icon-search" @click='handleSearch'>
                查询
            </el-button>
        </div>
    </div>
    <div style="height:12px"></div>

    <hxvue-table :table-data="tableData" :columns="columns"
            :pagination="pagination" :option="option"
            @selection-change="handleSelectedArr">
    </hxvue-table>

    <!-- 表单部分 -->
    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
        <el-form
                ref="dataForm"
                :rules="rules"
                :model="temp"
                label-position="left"
                label-width="80px"
                style="width: 400px; margin-left:50px;"
        >
            <el-form-item label="员工账号" prop="id">
                <el-input v-model="temp.id" />
            </el-form-item>
            <el-form-item label="姓名" prop="name">
                <el-input v-model="temp.name" />
            </el-form-item>
            <el-form-item label="年龄" prop="age">
                <el-input v-model="temp.age" />
            </el-form-item>
            <el-form-item label="出生日期" prop="birthDate">
                <el-date-picker
                        v-model="temp.birthDate"
                        type="date"
                        placeholder="请选择日期"
                        value-format="yyyy-MM-dd"
                />
            </el-form-item>
            <el-form-item label="性别" prop="sex">
                <el-input v-model="temp.sex" />
            </el-form-item>
            <el-form-item label="城市" prop="city">
                <el-input v-model="temp.city" />
            </el-form-item>
        </el-form>
        <div slot="footer">
            <el-button @click="dialogFormVisible = false">
                取消
            </el-button>
            <el-button
                    type="primary"
                    @click="dialogStatus === 'create' ? createData() : updateData()"
            >
                确定
            </el-button>
        </div>
    </el-dialog>
</div>

</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                pagination: {
                    pageSize: 10,
                    pageSizes: [10, 30, 50, 80, 100],
                    currentPage: 1
                },
                tableData: [],
                columns: [
                    {
                    prop: 'id',
                    label: '员工账号',
                    sortable: true
                    },
                    {
                        prop: 'name',
                        label: '姓名',
                        width: 100
                    },
                    {
                        prop: 'age',
                        label: '年龄',
                        formatter: function(row, column){
                            return row[column.property];
                        }
                    },
                    {
                        prop: 'birthDate',
                        label: '出生日期',
                    },
                    {
                        prop: 'sex',
                        label: '性别',
                    },
                    {
                        prop: 'city',
                        label: '城市',
                    },
                ],
                option: {
                    tableStyle: {
                        width: "100%",
                        // fontSize: "16px"
                    },
                    controlSize: "medium",
                    dataLoading: false
                },
                temp: {
                    id: '',
                    name: '',
                    age: '',
                    birthDate: '',
                    sex: '',
                    city: ''
                },
                dialogFormVisible: false,
                dialogStatus: '',
                searchKey: '',
                textMap: {
                    update: '修改',
                    create: '添加'
                },
                selectedArr: [],
                rules: {
                    id: [{
                        required: true,
                        message: 'id is required',
                        trigger: 'blur'
                    }],
                    name: [{
                        required: true,
                        message: 'name is required',
                        trigger: 'blur'
                    }],
                    birthDate: [{
                        required: true,
                        message: 'birthDate is required',
                        trigger: 'change'
                    }]
                }
            }
        },
        methods: {
            handleSelectedArr(arr) {
              this.selectedArr = arr;
              console.log(arr.length);
            },
            //按钮操作对应执行方法
            resetTemp() {
                this.temp = {
                    id: '',
                    name: '',
                    age: '',
                    birthDate: '',
                    sex: '',
                    city: ''
                }
            },
            handleAdd() {
                this.resetTemp()
                this.dialogStatus = 'create'
                this.dialogFormVisible = true
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },
            createData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        this.tableData.push(this.temp)
                        this.pagination.currentPage = Math.ceil(this.tableData.length / this.pagination.pageSize)
                        this.dialogFormVisible = false
                        this.$notify({
                            title: '成功',
                            message: '添加成功',
                            type: 'success',
                            duration: 2000
                        })
                    }
                })
            },
            handleEdit() {
                    if (this.selectedArr.length == 1) {
                    this.temp = this.selectedArr[0]
                    this.dialogStatus = 'update'
                    this.dialogFormVisible = true
                    this.$nextTick(() => {
                        this.$refs['dataForm'].clearValidate()
                    })
                }
            },
            updateData() {
                this.$refs['dataForm'].validate((valid) => {
                    if (valid) {
                        let index = this.tableData.findIndex(item => item.id === this.temp.id)
                        this.tableData.splice(index, 1, this.temp)
                        this.dialogFormVisible = false
                        this.$notify({
                            title: '成功',
                            message: '修改成功',
                            type: 'success',
                            duration: 2000
                        })
                    }
                })
            },
            handleDel() {
                let dataLen = this.selectedArr.length
                if (dataLen) {
                    for (let i = 0; i < dataLen; i++) {
                        let index = this.tableData.findIndex(item => item.id === this.selectedArr[i].id)
                        this.tableData.splice(index, 1)
                    }
                    if (this.tableData.length % this.pagination.pageSize == 0) {
                        this.pagination.currentPage = this.tableData.length / this.pagination.pageSize
                    }
                    this.$notify({
                        title: '成功',
                        message: '删除成功',
                        type: 'success',
                        duration: 2000
                    })
                }
            },
            handleSearch() {
                let tempArr = this.tableData.filter(item => item.sex == this.searchKey)
                this.option.dataLoading = true
                setTimeout(() => {
                    this.tableData = tempArr
                    this.pagination.currentPage = 1
                    this.option.dataLoading = false
                }, 4000)
            }
        },
        created() {
            console.time('allTime')
            loadTableData(this.tableData)
            console.timeEnd('allTime')
        }
    })
    function loadTableData(demoData, demoDataNum = 30) {
        for (let i = 0; i < demoDataNum; i ++) {
            let sex = Mock.mock({"boolean|1": true})
            sex = sex.boolean === true ? '男' : '女'
            demoData.push({
                id: Mock.mock('@increment'),
                name: Mock.mock('@cname'),
                age: Mock.mock('@integer(1, 100)'),
                birthDate: Mock.mock('@date'),
                sex: `${sex}`,
                city: Mock.mock('@city')
            })
        }
    }
</script>
</html>
